.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px 20px;
    justify-content: center;
    align-content: bottom;
    height: 2000px;
}

.grid-item {
    border: 1px solid forestgreen;
    padding: 20px;
    font-size: 30px;
    width: 200px;
}

.grid-item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 4;
}